*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: white;
  font-family: 'MaisonNeueExtendedTRIAL-Book', sans-serif;
  letter-spacing: -0.01em;
  color: black;
}
@font-face {
  font-family: 'MaisonNeueExtendedTRIAL-Bold';
  src: url('./MaisonNeueExtendedTRIAL-Bold.otf') format(‘opentype‘);
  }

@font-face {
  font-family: 'MaisonNeueExtendedTRIAL-Book';
  src: url('./MaisonNeueExtendedTRIAL-Book.otf') format(‘opentype‘);
  }

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    background: white;
    color: white;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 999;
  }
 
header .logo h3 {
    margin: 0;
    padding: 0;
    color: white;
  }

footer {
  font-family: 'MaisonNeueExtendedTRIAL-Book', sans-serif;
  letter-spacing: -0.01em;
  color: black;
}

nav.item :hover {
  color:white
}
