*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: white;
  font-family: 'MaisonNeueExtendedTRIAL-Book', sans-serif;
  letter-spacing: -0.01em;
  color: black;
}

@font-face {
  font-family: 'MaisonNeueExtendedTRIAL-Bold';
  src: url('./MaisonNeueExtendedTRIAL-Bold.otf') format(‘opentype‘);
  }

@font-face {
  font-family: 'MaisonNeueExtendedTRIAL-Book';
  src: url('./MaisonNeueExtendedTRIAL-Book.otf') format(‘opentype‘);
  }

header {
  min-width: 960px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    margin: 0;
    padding: 0;
    background: white;
    color: white;
    height: 100px;
    top: 0;
    z-index: 999;
  }
 
header .logo {
    margin-left: 0;
    padding: 0;
    color: white;
  }

footer {
  min-width: 960px;
  font-family: 'MaisonNeueExtendedTRIAL-Book', sans-serif;
  letter-spacing: -0.01em;
  color: black;
}

nav.item :hover {
  color:white
}

@media (min-width: 768px) { 
  .container { 
      width: 750px; 
      } 
  } 

@media (min-width: 992px) { 
  .container { 
      width: 970px; 
      } 
  } 

@media (min-width: 1200px) { 
  .container { 
      width: 1170px; 
      } 
  }
